<%= h1 "Please send your comments" %>
<p>
  Do you have ideas, questions, requests or remarks about TopUp? Please fill in the form below.
  Any comment will be greatly appreciated. I will respond as soon as possible when necessary.
  You can also mail me at <%= mail_to "paul.engel@holder.nl" %>.
</p>

<% unless comments.empty? %>
  <ol id="comments">
  <% comments.each_with_index do |x, i| %>
    <%= render :partial => "comment", :locals => {:comment => x, :index => i + 1} %>
  <% end %>
  </ol>
<% end %>

<%= render :file => "#{RAILS_ROOT}/app/views/comments/new.html.erb" %>

<%= javascript_tag "jQuery(window).scrollTop(jQuery('#comment_#{params[:id]}').position()['top'])" if params[:id] %>