<%= h2 purpose %>
<%= textilize information %>

<% block do %>
  
  <ul class="menu">
  <% examples.each_with_index do |x, i| %>
    <li class="<%= "first selected" if i == 0 %>">
      <%= link_to_function method(x), "selectMethod(this)" %>
    </li>
  <% end %>
  </ul>
  
  <ul class="content">
  <% examples.each_with_index do |x, i| %>
    <li class="<%= "selected" if i == 0 %>">
      <div class="description">
        <%= description x %>
      </div>
      
      <h4>Demo</h4>
      <div class="demo box">
        <%= demo x, purpose %>
      </div>
      
      <h4>Complete code</h4>
      <div class="code box">
        <%= code x %>
      </div>
    </li>
  <% end %>
  </ul>
  
  <div class="clear"></div>
<% end %>