<h1 class="what_is_top_up">What is TopUp?</h1>
<p>
  TopUp is an easy to use Javascript library for unobstrusively displaying images and webpages in a Web 2.0 approach of popups.
  The library is <%= link_to "JQuery", "http://jquery.com" %> driven in order to maintain cross-browser compatibility and compactness.
  TopUp offers the following advantages:
</p>
<ul>
  <li>A very easy setup process</li>
  <li>The ability of displaying images, iframes, webpages and pure HTML</li>
  <li>TopUp can be used along with Prototype (just include TopUp before Prototype)</li>
  <li>Cross-browser compatibility</li>
  <li>Fancy layouts, animations and transitions</li>
  <li>Auto-correction of size and position when required</li>
  <li>The possibility to create groups</li>
  <li>Support for AJAX requests</li>
  <li>And many more...</li>
</ul>

<h1 class="why_another_lightbox_like_library">Why another Lightbox-like Javascript library?</h1>
<p>
  Just like many among us, I had the need for a lightbox-like library to use for a website I was working on.
  After examining libraries such as <%= link_to "Lightbox2", "http://www.lokeshdhakar.com/projects/lightbox2/" %>, <%= link_to "LightWindow", "http://stickmanlabs.com/lightwindow/" %>, 
  <%= link_to "Highslide", "http://highslide.com/" %>, <%= link_to "Thickbox", "http://jquery.com/demo/thickbox/" %>, <%= link_to "ModalBox", "http://www.wildbit.com/labs/modalbox/" %> and
  many more, I haven't found one that really suited my needs. Either the installation was to complicated, the look-and-feel wasn't pretty, the transitions were glitchy, their were conflicts 
  with other libraries or the possibilities were lacking.
  <br><br>
  Enter TopUp! The installation of TopUp consists of including only one file (<strong>no images or stylesheets!</strong>), the look-and-feel is Apple-like, the animations and transitions look
   fancy, you can still use Prototype and last but not least:
  because of the flexibility of TopUp, it is so easy to specify options.
</p>

<h1 class="some_examples">Some examples</h1>
<div id="examples" class="box">
  <ul id="images">
    <li>
      <%= link_to image_tag("thumbnails/1.jpg"), "/images/photos/1.jpg" %>
      <small>
        group: images, layout: quicklook
      </small>
    </li>
    <li>
      <%= link_to image_tag("thumbnails/2.jpg"), "/images/photos/2.jpg", :toptions => "overlayClose = 1, effect = default" %>
      <small>
        group: images, overlayClose: 1, layout: quicklook, effect: default
      </small>
    </li>
    <li>
      <%= link_to image_tag("thumbnails/3.jpg"), "/images/photos/3.jpg", :toptions => "overlayClose = 1, layout = dashboard" %>
      <small>
        group: images, overlayClose: 1, layout: dashboard
      </small>
    </li>
    <li>
      <%= link_to image_tag("thumbnails/4.jpg"), "/images/photos/4.jpg", :toptions => "layout = dashboard, noGroup = 1" %>
      <small>
        noGroup: 1, layout: dashboard
      </small>
    </li>
    <li>
      <%= link_to image_tag("thumbnails/5.jpg"), "/images/photos/5.jpg", :class => "shaded", :toptions => "layout = quicklook, effect = clip" %>
      <small>
        layout: quicklook, shaded: 1, effect: clip
      </small>
    </li>
    <li>
      <%= link_to image_tag("thumbnails/6.jpg"), "/images/photos/6.jpg", :class => "shaded" %>
      <small>
        layout: dashboard, shaded: 1
      </small>
    </li>
  </ul>
  <ul>
    <li>  
      <%= link_to image_tag("thumbnails/google.jpg"), "http://www.google.nl", :toptions => "title = Google search, type = iframe, width = 600, height = 400, modal = 0, layout = quicklook" %>
      <small>
        width: 600, height: 400, type: iframe, modal: 0, layout: quicklook, title: Google search
      </small>
    </li>
    <li>
      <%= link_to "Internal page", "/issue", :class => "top_up" %>
      <small>
        not implemented yet
      </small>
    </li>
    <li>
      <%= link_to "Ajax Request", "/ajax_request", :class => "top_up" %>
      <small>
        not implemented yet
      </small>
    </li>
  </ul>
  <div class="clear"></div>
  
  <% if false %>
    <%= link_to "Add issue", "/issue", :class => "top_up", :toptions => "resizable = 1" %><br>
    <%= link_to "Add order", "/order", :toptions => "group = images, shaded = 1, layout = quicklook" %><br>
    <%= link_to "Google search", "http://www.google.nl", :toptions => "group = images, modal = 0, layout = quicklook, type = iframe, width = 600, height = 400, title = Google search" %>
  <% end %>
</div>

<h1 class="how_to_use">How to use</h1>
<h3>
  When refering to gettopup.com (the easiest setup)
</h3>
<ol>
  <li>
    Include TopUp with the following:
    <div class="code">
      &lt;script type="text/javascript" src="http://gettopup.com/releases/latest/top_up.js"></script>
    </div>
    (for a specific version use <span class="code">/releases/1.3.2/top_up.js</span> for example)
  </li>
  <li>
    Add either the class <span class="code">top_up</span>, the attribute <span class="code">toptions</span> to your links or TopUp preset(s)
  </li>
  <li>
    Enjoy!
  </li>
</ol>
<h3>
  When hosting the source and images yourself
</h3>
<ol>
  <li>
    Download the <%= link_to "latest TopUp version", "http://gettopup.com/releases/packed/latest.tar.gz" %>
  </li>
  <li>
    Include TopUp with the following:
    <div class="code">
      &lt;script type="text/javascript" src="path/to/your/top_up.js"></script>
    </div>
  </li>
  <li>
    Add either the class <span class="code">top_up</span>, the attribute <span class="code">toptions</span> to your links or TopUp preset(s)
  </li>
  <li>
    Enjoy!
  </li>
</ol>
<p>
  For further documentation go to the <%= link_to "documentation page", documentation_path %>.
</p>

<h1 class="support_or_feedback">Support or feedback</h1>
<p>
  Do you have questions or suggestions concerning TopUp?
  Please <%= mail_to "paul.engel@holder.nl", "e-mail me" %> and I will answer you as soon as possible.
</p>