<%= h1 "TopUp on Twitter" %>

<p>
  You maybe think about TopUp as 'just another' Lightbox-like script and want to know what others think about this library.
  Well, thanks to <%= link_to "@usejquery", "http://twitter.com/usejquery" %> TopUp got a huge popularity boost on Twitter. The last 150 tweets are listed below.
  Take a look at some of the tweets and you'll read how enthousiastic others can get because of Topup. An easy setup, a cool look-and-feel and usability are some of the keypoints.
</p>

<ul id="tweets">
<% Tweet.all(:conditions => "IFNULL(ignored, 0) != 1", :order => "tweeted_at DESC", :limit => 200).each do |tweet| %>
  <li>
    <%= link_to image_tag(tweet.profile_image_url), "http://twitter.com/#{tweet.from_user}", :class => "avatar" %>
    <div>
      <p>
        <%= tweet.text.gsub(/http\:\/\/[^\s]+/){|url| link_to url, url} %>
      </p>
      <small>
        <%= link_to tweet.from_user, "http://twitter.com/#{tweet.from_user}", :class => "user" %>
        &nbsp;-&nbsp;
        <span>
          <%= distance_of_time_in_words (tweet.tweeted_at + 1.hour).to_i, Time.now.to_i %>
          ago from
          <%= CGI.unescapeHTML tweet.source %>
        </span>
      </small>
    </div>
  </li>
<% end %>
</ul>