<ul id="page_menu">
  <li><%= link_to image_tag("text/a-home#{"_selected" if request.path == root_path}.jpg"), root_path %></li>
  <li><%= link_to image_tag("text/a-documentation#{"_selected" if request.path == documentation_path}.jpg"), documentation_path %></li>
  <% if false %>
  <li><%= link_to image_tag("text/a-examples#{"_selected" if request.path == examples_path}.jpg"), examples_path %></li>
  <% end %>
  <li><%= link_to image_tag("text/a-demo#{"_selected" if request.path == demo_path}.jpg"), demo_path %></li>
  <li><%= link_to image_tag("text/a-comments#{"_selected" if request.path == comments_path}.jpg"), comments_path %></li>
</ul>
<div class="clear"></div>