<div id="secondary">
  <h2 class="get_the_latest_version">Get the latest version</h2>
  <div class="box">
    <small>Current Release: 1.3.2</small>
    <%= link_to "Download TopUp", "http://topup.holder.nl/releases/packed/latest.tar.gz", :class => "download_top_up" %>
  </div>
  
  <h2 class="about_me">About me</h2>
  <p>
    My name is <%= mail_to "paul.engel@holder.nl", "Paul Engel" %>, I'm Dutch and I work at <%= link_to "Internetbureau Holder B.V.", "http://holder.nl" %> since February 2004.
    I develop websites in Ruby on Rails using a Mac.
  </p>
  
  <h2 class="links">Links</h2>
  <ul>
    <li><%= link_to "Apple", "http://apple.com" %></li>
    <li><%= link_to "JQuery", "http://jquery.com" %></li>
    <li><%= link_to "Holder", "http://holder.nl" %></li>
    <li><%= link_to "Ruby on Rails", "http://rubyonrails.com" %></li>
  </ul>
</div>