<div id="secondary">
  <%= h2 "Get the latest version" %>
  <div class="box">
    <small>Current Release: 1.5.3</small>
    <%= link_to "Download TopUp", "http://gettopup.com/releases/packed/latest.tar.gz", :class => "download_top_up" %>
  </div>
  
  <%= h2 "About me" %>
  <p>
    My name is <%= mail_to "paul.engel@holder.nl", "Paul Engel" %>, I'm Dutch and I work at <%= link_to "Internetbureau Holder B.V.", "http://holder.nl" %> since February 2004.
    I develop websites in Ruby on Rails using a Mac.
  </p>
  <div class="box twitter">
    Other than <%= mail_to "paul.engel@holder.nl", "mail" %>, you can also contact me at <%= link_to "Twitter.com", "http://twitter.com/archan937" %>.
  </div>
  
  <%= h2 "Source at GitHub" %>
  <div class="box">
    <div class="github">
      <%= link_to "GitHub project page", "http://github.com/archan937/topup/tree/master" %>
    </div>
    <small class="github">
      You can clone the Rails code of TopUp from <%= link_to "GitHub", "http://github.com" %> using <%= link_to "Git", "http://git-scm.com" %>.
    </small>
  </div>
  
  <%= h2 "License" %>
  <div class="license">
    <small>
      Except otherwise noted, TopUp is licensed under
      <%= link_to "http://creativecommons.org/licenses/by-sa/3.0", "http://creativecommons.org/licenses/by-sa/3.0" %>&nbsp;
      <%= link_to "NL", "http://creativecommons.org/licenses/by-sa/3.0/deed.nl" %>
    </small>
  </div>
  
  <%= h2 "Links" %>
  <ul>
    <li><%= link_to "Apple", "http://apple.com" %></li>
    <li><%= link_to "GitHub", "http://github.com" %></li>
    <li><%= link_to "Holder", "http://holder.nl" %></li>
    <li><%= link_to "JQuery", "http://jquery.com" %></li>
    <li><%= link_to "Ruby on Rails", "http://rubyonrails.com" %></li>
    <li><%= link_to "Twitter", "http://twitter.com" %></li>
  </ul>
</div>
