<div id="secondary">
  <%= h2 "Get the latest version", false %>
  <div class="box">
    <small>Current Release: 1.6.9</small>
    <%= link_to "Download TopUp", "http://gettopup.com/releases/packed/latest.zip", :class => "download_top_up" %>
    <small>
      Want to keep track of new releases?
      Click <%= link_to "here", new_tracker_path, :toptions => "effect = fade, shaded = 1, overlayClose = 1, resizable = 0" %>.
    </small>
  </div>
  
  <%= h2 "About me", false %>
  <p>
    My name is <%= mail_to "paul.engel@holder.nl", "Paul Engel" %>, I'm Dutch and I work at <%= link_to "Internetbureau Holder B.V.", "http://holder.nl" %> since February 2004.
    I develop websites in Ruby on Rails using a Mac.
  </p>
  <div class="box twitter">
    Other than <%= mail_to "paul.engel@holder.nl", "mail" %>, you can also contact me at <%= link_to "Twitter.com", "http://twitter.com/archan937" %>.
  </div>
  
  <%= h2 "Post a comment", false %>
  <p>
    Do you have ideas, questions, requests or remarks about TopUp?
    <strong><%= link_to "Please post them", new_comment_path, :toptions => "effect = fade, shaded = 1, overlayClose = 1, resizable = 0" %></strong>.
    Any comment will be greatly appreciated!
  </p>
  
  <%= h2 "Source at GitHub", false %>
  <div class="box">
    <div class="github">
      <%= link_to "GitHub project page", "http://github.com/archan937/topup/tree/master" %>
    </div>
    <small class="github">
      You can clone the Rails code of TopUp from <%= link_to "GitHub", "http://github.com" %> using <%= link_to "Git", "http://git-scm.com" %>.
    </small>
  </div>
  
  <%= h2 "License", false %>
  <div class="license">
    <small>
      Except otherwise noted, TopUp is licensed under
      <%= link_to "http://creativecommons.org/licenses/by-sa/3.0", "http://creativecommons.org/licenses/by-sa/3.0" %>&nbsp;
      <%= link_to "NL", "http://creativecommons.org/licenses/by-sa/3.0/deed.nl" %>
    </small>
  </div>
  
  <%= h2 "Make a donation", false %>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBotVxhX95eTEa734SqHphE/HqJTkDRSn1gXmLegPZXZQuxbCSQFj3LHLVlhnY7K2RHGuA+YiTIsXSux7DWwGNwO1bGu1k12nsfh8Z6WRc3argpzwZj2tRUzUA0FWb2R+0Wt7DBFK0spw/nsOjGZkU8IfyhWfrTVZ75y4I6GkyM/zELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI18wNavkzPJqAgaA4FYeOlsXRIYWSNG1hlPKcfaDtrqYVGZ67ZwaeqHbQhGjmnCzkn6pi3qcfI/Pf0GdH5lamXD8lWkv2TPGSZH/wpRrxRlKtCWgb987RwiWM1bzOBfqeiQpNeOudQSPOGTETMsBMF4l2wo2+jmL0y8DHvn7dRs8/RM2ClADZjW2YwOK4sXOeMM0N3EUvCmG+BlGmseBLhx4sem6qTwurISkMoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMDkxMTE2MjA0MDIyWjAjBgkqhkiG9w0BCQQxFgQU9uY4/u9iANoIcMl0Bgi4GGXJq4wwDQYJKoZIhvcNAQEBBQAEgYBvr0faArRUgo7oK/hL3uk/z4m4/kZcwC8QVsfDYkC2NCuzEQQ7n3/FBXfpFiROvoosT+3q6YrfU84EibZNPuq/u2EdLuksJKMoTAvAg2Py40ICvJUo+13kIgCFD1IFg/Oo4E+MBwvcdL57RLzUyg1t70EQZn2RA3682SSJg+YBsA==-----END PKCS7-----">
    <input type="image" src="/images/buttons/donate.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <% if RAILS_ENV == "production" %>
    <img alt="" border="0" src="https://www.paypal.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
    <% end %>
  </form>
  <p>
    If you like using TopUp, please feel free to make a donation as a small gesture of appreciation so I can buy some coffee ;)
  </p>
  
  <%= h2 "Links", false %>
  <ul>
    <li><%= link_to "Apple", "http://apple.com" %></li>
    <li><%= link_to "GitHub", "http://github.com" %></li>
    <li><%= link_to "Holder", "http://holder.nl" %></li>
    <li><%= link_to "JQuery", "http://jquery.com" %></li>
    <li><%= link_to "Ruby on Rails", "http://rubyonrails.com" %></li>
    <li><%= link_to "Twitter", "http://twitter.com" %></li>
  </ul>
</div>
