<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="keywords" content="gettopup topup unobtrusive javascript pop up popup module pattern
		                               jquery paul engel apple mac dashboard quicklook
		                               <%= controller.action_name == "index" ? "home" : controller.action_name.downcase %>">
		<meta name="verify-v1" content="xwr9uRspe/CpYXF3MtDa4cOT1ePMtQKwXsZmYrGfEKA=" />
		<link rel="shortcut icon" href="/favicon.ico"/>
		<title>The #1 Javascript Pop Up - Get TopUp! - <%= controller.action_name == "index" ? "Home" : controller.action_name.capitalize %></title>
    <%= render :partial => "layouts/includes" %>
	</head>
	<body>
		<div id="page_background"></div>
		<div id="page_wrapper">
      <%= render :partial => "layouts/header" %>
      <%= render :partial => "layouts/menu" %>
			<div id="page_content">
				<div id="primary">
					<%= yield :layout %>
				</div>
				<%= render :partial => "layouts/secondary" %>
				<div class="clear"></div>
			</div>
		</div>
		<%= render :partial => "layouts/top_up" if RAILS_ENV == "development" %>
	</body>
</html>