<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="nl">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Top Up Demo</title>
		<%= stylesheet_link_tag "top_up/style", "top_up/dashboard/style", "top_up/quicklook/style" %>
		<!--[if IE]>
		  <%= stylesheet_link_tag "top_up/iefix" %>
		<![endif]-->
		<!--[if IE 6]>
		  <%= stylesheet_link_tag "top_up/ie6fix", "top_up/dashboard/ie6fix", "top_up/quicklook/ie6fix" %>
		<![endif]-->
    <!-- Include ff2fix -->
		
		<%= javascript_include_tag "top_up", :defaults %>
		<%= stylesheet_link_tag "basic", "common" %>
		<!--[if IE 6]>
		  <%= stylesheet_link_tag "ie6fix" %>
		<![endif]-->
		<!--[if IE 7]>
		  <%= stylesheet_link_tag "ie7fix" %>
		<![endif]-->
	</head>
	<body>
		<div id="page_wrapper">
			<div id="page_header">
				<h1>Top Up Demo</h1>
			</div>
			<div id="page_content">
				<div id="primary">
					<%= yield :layout %>
				</div>
			</div>
			<div id="page_footer">
				Created by ArCHanGeL
			</div>
		</div>
		<%= render :partial => "layouts/top_up" %>
	</body>
</html>